.club-image{
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 8px;
    display: block;
    margin: 0 auto 10px;
}

.club-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 20px;
    align-items: start;
}

.club-card{
    background: rgb(159, 189, 232);
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.2s ease-in-out;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 300px;
    

}

.club-card:hover{
    transform: scale(1.05);
}

.club-button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.club-button:hover{
    background-color: darkred;
   
}