.school-orgs{
    text-align: center;
    padding: 20px;

}

.club-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}

.club-card{
    max-width: 300px;
}